*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row>div{
    height: 2.5rem;
}

.row{
    width: 100%;
}

.bg-black{
    background-color: black;
}

.bg-red{
    background-color: red;
}