*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row>div{
    height: 2.5rem;
}

.row{
    width: 100%;
}

.bg-black{
    background-color: black;
}

.bg-red{
    background-color: red;
}

.bg-darkgrey{
    background-color: #3c3b3f;
}

.bg-lightgrey{
    background-color: #7d7d7d;
}

.bg-white{
    background-color: white;
}

.bg-brown{
    background-color: #89410f;
}

div.square{
    flex-basis: 50%;
    height: 100%;
}